{% extends "layout.html"%}

{% block content%}
<div class = "content-section">
    <h2>Am passionate about the look of your living room...trust no other but Shan</h2>
    <p>What’s the difference between interior decorators and interior designers? In one word: education.<br><br>

        Literally anyone can become an interior decorator. Someone who loves playing with colors, fabrics and textiles can become a decorator by simply printing business cards and promoting themselves to clients. This is not necessarily a bad thing, but educational background is also important.
        
        On the other hand, an interior designer must have an accredited education; an associate or bachelor’s degree is a requisite for working in the interior design field. Do you want to pursue an education, or jump immediately into the decorating world? Keep reading to see if interior design could be the right fit for you.</p>
        <address>
            You can contact shan at <a href="shaninteriors@gmail.com">
            www.shaninteriors.com</a>.<br>
            You may also want to visit us:<br>
            Entebbe kiwafu<br>
            plot 31<br>
            kiwafu close<br>
            Entebbe
          </address>
        </div>
        {% endblock content%}  